<div class="i9web-m50"></div>
<div class="post_footer">
       <h2 id="repositories-repoweb">{{ site.data.translations['repositoriesRepoWeb'][page.lang] }}</h2>

       <pre><code>{{ site.data.translations['findMoreUpdates'][page.lang] }} <a href="https://github.com/repoweb?tab=repositories" target="_blank">{{ site.data.translations['repoWebRepositories'][page.lang] }} GitHub</a></code></pre>

       <h2 id="contact-me">{{ site.data.translations['contactMe'][page.lang] }}</h2>

       <p>contatomarcelosena (at) outlook.com<br />
       Whatsapp: +55 16 99223-9628</p>
</div>
